:root {
  --custom-green: #4ade80;
}

[class^='BTW8mG_spectrum-Slider_'] {
  width: calc(100% - 2rem) !important;
  padding: 0 1rem;
}

[class^='BTW8mG_spectrum-Slider-labelContainer'] {
  margin-bottom: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

[class^='BTW8mG_spectrum-Slider-value'] {
  width: auto !important;
  min-width: 0 !important;
}

[class^='BTW8mG_spectrum-Slider-track'] {
  background-color: #e0eedf;
  height: 3px;
  border-radius: 9999px;
}

[class^='BTW8mG_spectrum-Slider-track']:last-of-type {
  right: 0;
}

[class^='BTW8mG_spectrum-Slider-track']:nth-of-type(3) {
  background-color: var(--custom-green);
}

[class^='BTW8mG_spectrum-Slider-handle'] {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 1px;
  background-color: var(--custom-green);
  border: 1px solid #c4c8d8;
  box-shadow: 0 1px 5px 0 #64b15e;
  border-radius: 9999px;
}

.BTW8mG_spectrum-Slider-handle:active,
.BTW8mG_spectrum-Slider-handle.BTW8mG_is-hovered,
.BTW8mG_spectrum-Slider-handle.BTW8mG_is-tophandle {
  border-width: 1px;
  background-color: var(--custom-green);
  border-color: rgb(22 163 74);
  box-shadow: 0 2px 5px 0 #64b15e;
  cursor: pointer;
}

.BTW8mG_spectrum-Slider-handle.BTW8mG_is-dragged {
  border-width: 2px;
  background-color: var(--custom-green);
  border-color: rgb(22 163 74);
  box-shadow: 0 2px 5px 0 #64b15e;
  cursor: pointer;
}